version: '3.8'

services:
  mysql:
    image: mysql/mysql-server:8.0.32-1.2.11-server
    container_name: mysql
    restart: unless-stopped
    ports:
      - ${DATABASE_PORT}:3306
    environment:
      MYSQL_DATABASE: sword_health_challenge
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
    volumes: 
        - ./migrations:/docker-entrypoint-initdb.d

  task-manager:
    build:
      context: .
    container_name: task-manager
    depends_on:
      - mysql
    ports:
      - ${APP_PORT}:${APP_PORT}
    environment:
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}      

  #broker:
  #  image: eclipse-mosquitto:latest
  #  container_name: broker
  #  ports:
  #    - 1883:1883
  #  volumes:
  #    - ./mosquito-settings/mosquitto.conf:/mosquitto/config/mosquitto.conf